/* Custom Login Styles */

#login {
	padding: 8% 0 4% 0;
}

body.login {
	background: #000 url(../images/bagagetransport-background.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login h1 a {
	background-image: url(../images/bagagetransport-logo@2x.png);
	background-repeat: no-repeat;
	background-size: 263px 64px;
	height: 64px;
	margin-bottom: 0;
	outline: none;
	width: 263px;
	margin-bottom: 0;
}

.login #login_error{
	background-color: rgba(256,220,220, 0.5);
	border: 1px solid rgba(256,220,220, 0.3);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.login .message{
	background-color: rgba(256,256,240, 0.5);
	border: 1px solid rgba(256,256,240, 0.3);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

body.login #nav a,
body.login #nav a:hover,
body.login #backtoblog a,
body.login #backtoblog a:hover{
	color: #404040 !important;
	text-shadow: none;
}

#login h1{
	/*background: rgba(255,255,255,0.3);
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7);
	-moz-box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7);
	-webkit-box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7);*/
	margin-bottom: 0;
	padding: 40px 0 0;
	width: 100%;
}

.login label {
    color: #555555;
}

.login input {
    color: #222222;
}

.login .button-primary {
    color: #ffffff;
}

.login form {
	background: rgba(255,255,255,0.9);
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7);
	-moz-box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7);
	-webkit-box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7);
}

.login form .input {
    background: none repeat scroll 0 0 rgba(0,0,0,0.1);
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7) inset;
	-moz-box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7) inset;
	-webkit-box-shadow: 0 4px 10px -1px rgba(20, 20, 20, 0.7) inset;
	color: black;
	padding: 8px 12px;
	border: 1px solid #ccc;
}

.login #nav,
.login #backtoblog {
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
	width: 100%;
}
.login #nav a,
.login #backtoblog a {
	background: rgba(255,255,255,0.9);
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	font-size: 11px;
	padding: 10px 20px;
	transition: all 0.1s linear;
}
.login #nav a:hover,
.login #backtoblog a:hover {
	background: white;
	transition: all 0.1s linear;
}
