// Colors

$black: #121212;
$white: #ffffff;
$grey: #e8eded;
$greyBase: #c1c1c1;
$greyLight: #f7f7f7;
//$blue: #1b9af7;
$beige: #F2DED5;
$green: #028a71;

// Bagagetransport specifics
$blueDark: #1f2833;
$blue: #0175cc;
$orange: #FFA500;
$orangeDark: #986500;


// Retina images

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url('images/' + $file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url('images/' + $file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}


// Media queries

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media all and (max-width: #{$phone-width}) {
    @content;
  }
}
@mixin tablet {
  @media all and (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (max-width: #{$desktop-width}) {
    @content;
  }
}


// Basic Elements

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: white;
  box-sizing: border-box;
  color: $grey;
  //font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  line-height: 1.8em;
  overflow-x: hidden;
  width: 100%;
}
a{
  color: #222;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.05s linear;
}
a:hover{
  color: #777;
  text-decoration: none;
  transition: all 0.05s linear;
}
a, a:hover, a:active, a:focus, img{
  outline: 0;
  outline: none;
}
b, strong{
}
.hidden{
  display: none;
}
:disabled{
  opacity: 0.5;
}
.full-width{
  width: 100%;
}
iframe,
table{
  max-width: 100%;
  height: auto;
}
img{
  max-width: 100%;
  height: auto !important;
}
.aligncenter{
  margin: 20px auto;
}
.alignleft{
  float: left;
  margin-right: 20px;
}
.alignright{
  float: right;
  margin-left: 20px;
}
.alignleft,
.alignright {
  margin-top: 5px;
}
.aligncenter,
.alignleft,
.alignright {
  clear: both;
  display: block;
  margin-bottom: 20px;
}
.wrap{
    max-width: 900px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    @include phone {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.nobreak {
    white-space: nowrap;
}
/*.inverted {
    background-color: $black;
    color: white;

    a {
        color: white;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}*/
/*.bg-dark {
  background: $backgroundDark;
  color: white;
}*/

button {
  padding: 10px 20px;
}


.main{
  height: 100%;
}

.maintenance {
    position: absolute;
    top: 30%;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-box {
  background: rgba(31,40,51,0.85);
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid $blueDark;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px;
}


// Text styles

h1,
h2 {
}

h1{
}
h2 {
}

p {
  margin: 0;
  padding: 0 0 20px 0;
}

blockquote {
}
