header {
	.cta-button .button {
		background-color: $blue;
	}
}

button.button,
#payment input[type="submit"],
.cta-button .button {
	background-color: $blue;
	border: 1px solid $blueDark;
	border-radius: 3px;
	color: white;
	font-size: 11px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 1px;
	padding: 20px 40px;
	text-transform: uppercase;
	transition: all 0.4s ease;

	&.selected,
	&:hover {
		background-color: $blueDark;
		box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
		border: 1px solid $blueDark;
		color: white;
		transition: all 0.4s ease;
	}

	&.small {
		font-size: 9px;
		letter-spacing: 2px;
		font-weight: 300;
		padding: 10px 20px;
	}

	&:focus {
    	outline: none;
	}
}

#payment input[type="submit"] {
	margin: 0 auto;
	text-align: center;
	width: auto;
}