#content {
	padding: 0;
	position: relative;

	#cart_total {
		background: $blueDark;
		color: white;
	    margin: 0;
	    font-size: 22px;
		line-height: 24px;
	    font-weight: 300;
	    letter-spacing: 1px;
	    line-height: 24px;
	    padding: 40px 0;
	    text-align: center;
	}

	.tax_total {
		font-size: 12px;
	}

	.customer-select {
		background: $grey;
		border-bottom: 1px solid $blueDark;
		bottom: 0;
		padding: 80px 0;
		position: relative;
		text-align: center;

		h2 {
			color: $blueDark;
			font-size: 22px;
	    	line-height: 24px;
	    	font-weight: 300;
	    	letter-spacing: 1px;
	    	line-height: 24px;
			margin-top: 0;
			padding-bottom: 0;
			text-align: center;
		}

		.select-customer-type {
			background: white;
			color: $blueDark;
			margin: 10px 10px;

			&.selected {
				background: $blueDark;
				color: white;
			}
			&:not(.selected):hover {
				background: $blueDark;
				color: white;
				cursor: pointer;
				opacity: 1;
				transition: all 0.3s ease;
			}
		}
	}
}

.warning,
.woocommerce-thankyou-order-received {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: opacity .15s linear;
    font-weight: 500;
    background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442
}
.warning {
	background-color: $orange;
	border-color: $orangeDark;
	color: black;

	&.alert {
		background-color: #f2dede;
    	border-color: #ebcccc;
    	color: #a94442;
	}

	a {
		color: black;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}
}

.group {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;

	input {
		margin-bottom: 10px;
	}
}

#map {
	box-shadow: 0px 0px 2px 0px black;
	height: 100%;
	min-height: 300px;

	@include tablet {
		margin-top: 30px;
	}
}

.distance {
	margin: 0 auto;
	text-align: center;
}

.trip {
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 40px;
	padding: 40px;
}

section.logos {
	background: $blueDark;
	padding: 40px 0;
	text-align: center;

	@include phone {
		margin-top: 20px;
	}

	.in-cooperation-with {
		color: white;
		font-size: 28px;
		line-height: 36px;
		font-weight: 500;

		@include tablet {
			font-size: 24px;
		}

		@include phone {
			font-size: 19px;
		}
	}

	div > * {
		display: inline-block;
		font-size: 0;
		line-height: 0;
		margin: 10px;
		transition: all 0.4s ease;
		vertical-align: middle;
	}

	div {
		a:hover {
			transition: all 0.4s ease;
			transform: scale(1.1);
		}
	}

	.jetpak {
		@include background-image-retina('bagagetransport-jetpak-logo', 'png', 99px, 27px);
		height: 27px;
		position: relative;
		top: 3px;
		width: 99px;
	}

	.swedenbybike {
		@include background-image-retina('bagagetransport-swedenbybike-logo', 'png', 80px, 36px);
		height: 36px;
		width: 80px;
	}
}