footer {
	background: $grey;
	color: $blueDark;
	padding: 40px 0;
	text-align: center;
	width: 100%;

	a {
		color: $blueDark;

		&:hover {
			color: $blueDark;
			text-decoration: underline;
		}
	}

	.copy {
		margin-top: 20px;
	}
}