label {
	display: block;
    margin-left: 5px;
    text-align: left;
    vertical-align: top;
}

label,
table dt {
    font-weight: lighter;
    font-size: 11px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
}

input[type="date"] {
	height: 38px;

	&.highlight {
		box-shadow: 0 0 8px 2px $orange;
	}

	&.alert {
		box-shadow: 0 0 8px 2px #a94442;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea,
#checkout .woocommerce form .form-row textarea,
select.billing_country,
.woocommerce-billing-fields .select2-container .select2-choice {
	background: white;
	border: 1px solid $blueDark;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	color: black;
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px 10px;
	width: 100%;

	&[type=date] {
		padding: 7px 10px 8px;
	}

	&:hover,
	&:focus {
		border: 1px solid $blueDark;
		box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	}
}

.woocommerce-billing-fields .select2-container .select2-choice {
	margin-bottom: -5px;
	padding: 4px 10px;
}