header {
	box-shadow: inset 0 -20px 20px -20px black;
	box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
	padding: 0;
	position: relative;
	z-index: 300;

	.languages {
		float: right;
		position: absolute;
		right: 40px;
		top: 40px;

		@include tablet {
			right: 20px;
			top: 60px;
		}

		ul.language-chooser {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-left: 2px;
				transition: all 0.15s ease 0s;
				width: auto;

				a {
					background: rgba(255,255,255,0);
					border: 1px solid transparent;
					border-radius: 2px;
					display: inline-block;
					outline: 0;
					padding: 2px 6px;
					vertical-align: middle;
					transition: all 0.25s ease 0s;

					span {
						display: none;
						line-height: 0;
					}
				}

				&.active a,
				a:hover {
					background: rgba(255,255,255,0.3);
					border: 1px solid rgba(0,0,0,0.3);
					transition: all 0.25s ease 0s;
					//opacity: 0.6;
				}

				img {
					display: block;
					margin: 0;
					padding: 0;
					height: 24px;
					width: 24px;
				}
			}
		}
	}

	.logo-container {
		left: 40px;
		position: absolute;
		top: 40px;

		@include tablet {
			left: 0;
			padding: 0;
			position: relative;
			right: 0;
			text-align: center;
			top: 60px;
		}

		@include phone {
			padding-top: 40px;
		}

		h1 {
			margin: 0;
			padding: 0;
		}
	}

	/*.for-business {
		color: white;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		position: absolute;
		right: 40px;
		text-transform: uppercase;
		top: 20px;
	}*/

	.center {
		display: block;
		padding: 180px 40px 140px;

		@include tablet {
			padding: 100px 40px 120px;
		}

		@include phone {
			padding: 100px 20px;
		}

		h1 {
			color: white;
		    font-family: 'Rubik', sans-serif;
		    font-size: 56px;
		    font-weight: 500;
	    	line-height: 62px;
	    	letter-spacing: 1px;
		    margin: 0 auto;
		    padding: 0;
		    text-align: center;
		    text-shadow: 0 0 2px rgba(0,0,0,0.6), 0 0 10px rgba(0,0,0,0.7);

		    span {
		    	display: block;
		    	font-size: 28px;
		    }

		    @include tablet {
		    	font-size: 42px;
		    	line-height: 48px;

		    	span {
		    		display: block;
		    		font-size: 21px;
		    	}
		    }

		    @include phone {
		    	font-size: 32px;
		    	line-height: 36px;

		    	span {
		    		display: block;
		    		font-size: 16px;
		    		line-height: 18px;
		    		margin-top: 16px;
		    	}
		    }
		}

		.from-price {
			display: block;
		}

		.cta-button {
			margin-top: 60px;
			text-align: center;

			a {
				background: $blue; //rgba(255,255,255,0.7);
				color: white;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 5px;

				&:hover {
					background: $blueDark;
					border-color: $blueDark;
					cursor: pointer;
				}
			}
		}
	}

	button.help-open {
		background: $blue; //rgba(31,40,51,0.65);
		color: white;
		//padding: 10px 20px;
		position: fixed;
		margin: 0 auto;
		right: 18%;
		top: 0;
		/*border-left: 1px solid $blueDark;
		border-bottom: 1px solid $blueDark;
		border-right: 1px solid $blueDark;*/
		border-radius: 0 0 5px 5px;
		border-color: $blue;
		box-shadow: 0 3px 8px 0 rgba(0,0,0,0.5), 0 0 0 1px rgba(0,0,0,0.08);
		display: inline-block;
		font-size: 11px;
		//letter-spacing: 2px;
		font-weight: 400;
		//padding: 10px 20px;
		//text-transform: uppercase;
		padding: 12px 30px;
		transition: all 0.3s ease;
		z-index: 200;

		@include phone {
			border-radius: 0;
			left: 0;
			right: 0;
			width: 100%;
		}

		&:hover {
			background: $blueDark; //$green;
			border-color: $blueDark;
			cursor: pointer;
			opacity: 1;
			transition: all 0.3s ease;
		}
	}


	/*.tagline {
		text-align: center;
	}*/
}

.admin-bar {
	button.help-open {
		top: 32px;
	}
}