#instructions {
	background: $blueDark;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	color: white;
	padding: 60px 0;
	position: relative;
	z-index: 220;

	h2 {
		font-size: 22px;
    	line-height: 24px;
    	font-weight: 300;
    	letter-spacing: 1px;
    	line-height: 24px;
		margin-top: 0;
		padding-bottom: 20px;
		text-align: center;
	}

	ol {
		font-size: 17px;
		margin: 0 auto;
		max-width: 620px;
		list-style-type: none;
		padding: 0;

		li {
			margin-left: 50px;
			margin-bottom: 40px;

			.material-icons {
				font-size: 32px;
			    margin-left: -48px;
			    margin-right: 15px;
			    margin-top: -5px;
			    vertical-align: top;
			}
		}
	}

	.asterix {
		font-size: 11px;
		font-style: italic;
		line-height: 17px;
		margin: 0 auto;
		max-width: 620px;
		padding-top: 40px;
		text-align: left;
	}
}

#help {
	background: rgba(31,40,51,0.95);
	color: white;
	height: 100vh;
	font-size: 16px;
	font-weight: 300;
	overflow-y: scroll;
	padding: 20px 40px;
	position: fixed;
	top: 0;
	z-index: 500;
	width: 100%;

	@include phone {
		padding: 20px 0;
	}

	.aligncenter {
		text-align: center;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		line-height: 32px;
		margin: 0 0 24px 0;
		padding: 0 20px 40px;
		text-transform: uppercase;
	}

	h3 {
		font-size: 21px;
		font-weight: 300;
		letter-spacing: 2px;
		line-height: 25px;
		margin: 0 0 21px 10px;
		padding: 0 0 10px;
		text-align: left;
		text-transform: uppercase;

		@include tablet {
			margin-left: 0;
			text-align: center;
		}
	}

	h4 {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin: 0 0 10px 0;
		text-align: left;
	}

	hr {
		margin-bottom: 50px;
	}

	ul {
		list-style-type: none;
		margin: 0px 0 60px;
		padding: 0;

		li {
			border: 1px solid rgba(0,0,0,0.5);
			border-radius: 2px;
			box-shadow: 0 0 2px rgba(0,0,0,0.4);
			margin-bottom: 20px;
			transition: box-shadow 0.15s ease;

			&:hover {
				box-shadow: 0 0 10px rgba(0,0,0,0.5);
				transition: box-shadow 0.15s ease;
			}

			a {
				background: rgba(255,255,255,0.9);
				border-radius: 2px 2px 0 0;
				color: $blueDark;
				font-weight: 400;
				padding: 12px 20px;
				display: block;
				transition: all 0.15s ease;

				&:hover {
					background: $green;
					color: white;
					text-decoration: none;
					transition: all 0.15s ease;
				}
			}

			.answer {
				background: rgba(255,255,255,0.1);
				border-radius: 0 0 2px 2px;
				//margin-bottom: 40px;
				padding: 20px 40px;
			}
		}
	}

	ol {
		padding-left: 20px;

		li {
			margin-bottom: 16px;
			padding-left: 5px;
		}
	}

	a {
		color: white;
		font-weight: 300;
		width: 100%;

		&:hover {
			text-decoration: underline;
		}
	}

	button {
		background-color: $blueDark;
		border-color: white;
		color: white;
		margin: 40px 0 0;

		&:hover {
			background-color: $green;
		}
	}

	.help-close {
		padding-bottom: 80px;
		text-align: center;

		&.top {
			float: right;
			padding: 0;
			text-align: right;

			button {
				font-size: 10px;
			    line-height: 10px;
			    border-radius: 2px;
			    padding: 5px 7px 7px 9px;
			}
		}
	}

	.help-sections {
		padding-top: 80px;
		text-align: center;

		button {
			margin: 20px 5px 0;
			width: 220px;

			@include tablet {
				display: block;
				margin: 20px auto 0;
			}
		}
	}

	section {
		padding-bottom: 20px;
	}

	.help-faq-answers {
		& > div {
			margin-bottom: 80px;
		}
	}
}