.itineraries {
	background: $grey;
	color: $blueDark;
	padding: 80px 0;
	position: relative;

	.itinerary {
		margin-bottom: 100px;

		h2 {
			//border-bottom: 1px solid white;
			display: inline-block;
		    font-size: 22px;
		    line-height: 24px;
		    font-weight: 300;
		    //margin-bottom: 20px;
		    margin-top: 0;
		    //top: 0px;
		    //position: relative;
		    padding: 0;
		    text-align: left;
		}

		.removeItinerary {
			font-size: 10px;
		    display: inline-block;
		    line-height: 10px;
		    border-radius: 2px;
		    margin-left: 10px;
		    padding: 5px 7px 7px 9px;
		    //position: relative;
		    //z-index: 100;
		    vertical-align: top;
		}

		label,
		table dt {
			color: $blueDark;
		}

		.row {
			display: flex;
			justify-content: space-between;

			@include tablet {
				display: block;
			}

			& > * {
				width: 48%;

				@include tablet {
					width: 100%;
				}
			}

			.info {
				display: inline-block;
				font-weight: 500;
				margin-top: 20px;
				text-align: left;
				width: 100%;

				& > * {
				    display: inline-block;

				    &:first-child {
						float: right;
					}
					&:last-child {
						float: left;
					}
				}

				.itinerary-distance {
					border-radius: 10px;
					padding: 0 10px;

					&.highlight {
						//text-shadow: 5px 5px 25px $orange;
						background: rgba(255,165,0,0.42);
						box-shadow: 0 0 25px $orange;
					}
				}

				/*.itinerary-price {
					transition: all .5s ease-in-out;

					&.changed {
						background: red;
						color: white;
						transition: all .5s ease-in-out;
					}
				}*/
			}
		}

		label input[type="checkbox"] {
			margin: 20px 8px 0 0;
		}

		.group {
			position: relative;
			text-align: left;

			.actions {
			    margin-top: 10px;
			    text-align: right;
			    width: 100%;
			}
		}

		.notes {
			margin-top: 30px;
			width: 100%;

			.warning {
				//display: none;
				margin-top: 10px;
				width: 100%;
			}
		}
	}

	button.button {
		background: $blue;
		border: 1px solid $blueDark;
		border-radius: 3px;
		color: white;
		margin: 0 auto;

		&:hover {
			color: white;
			background: $blueDark;
			border-color: $blueDark;
		}
	}
}

.ribbon {
	position: absolute;
	right: 0;
	top: -5px;
	z-index: 200;
	overflow: hidden;
	width: 165px; 
	height: 165px;
	text-align: right;
}
.ribbon span {
	font-size: 15px;
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	line-height: 36px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 240px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#F70505 0%, #8F0808 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 50px;
	right: -50px;
}