/*#select-customer {
	background: $grey;
	color: $blueDark;
	padding: 60px 0 0;
	text-align: center;

	.wrap {
		.select-customer-type {
			display: inline-block;
			font-size: 22px;
			line-height: 24px;
			font-weight: 300;
			margin: 0 40px;
			opacity: 0.6;
			padding: 20px 40px;
			transition: all 0.2s ease;

			&.selected {
				border-bottom: 2px solid $blueDark;
				opacity: 1;
			}
			&:hover {
				cursor: pointer;
				opacity: 1;
				transition: opacity 0.2s ease;
			}
		}
	}
}*/