#slider {
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;

	.shadow {
		/*background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
		background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );*/
		background: rgba(0,0,0,0.1);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
	}

	.slides {
		margin: 0;
		height: 100%;
		padding: 0;
		width: 100%;

		li {
			height: 100%;
			width: 100%;

			> div {
				width: 100%;
		    	background-size: 100% 100%;
		    	display: inline-block;
		    	height: 100%;
		    	background-repeat: no-repeat;
		    	background-position: center center;
		    	-webkit-background-size: cover;
		  		-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		}
	}
}