.woocommerce {
	clear: both;
	margin: 40px auto 60px;

	header {
		box-shadow: none;
	}

	form {

		.col2-set {
			.col-1,
			.col-2 {
				float: none;
				width: 100%;

				.form-row {
					margin-bottom: 20px;
				}
			}

			.woocommerce-billing-fields {
				//max-width: 720px;
				margin: 0 auto 40px;

				h3 {
					color: $blueDark;
				}
			}

			.col-2 {
				display: none;
				padding-bottom: 10px;
				margin-top: -20px;

				h3 {
					display: none;

					&#ship-to-different-address {
						display: block;
						margin-left: 5px;
						text-align: center;

						& > * {
							display: inline-block;
							vertical-align: top;
						}

						input {
							float: left;
							margin-right: 5px;
							margin-top: 4px;
						}
					}
				}
			}

			.form-row {
				padding: 0;
			}
		}

		#payment {
			background-color: transparent;

			.form-row.place-order {
				margin: 0;
				padding: 20px 0;
				text-align: center;
			}

			ul.payment_methods {
				border: 0;
				padding: 20px 5%;

				li {
					margin-bottom: 5px;

					& > * {
						display: inline-block;
						vertical-align: top;
					}

					input {
						margin-right: 5px;
						margin-top: 3px;
					}
				}

				.payment_box {
					input {
						background-color: white;
					}
				}
			}

			#place_order {
				display: inline-block;
				width: auto;
			}
		}
	}

	table {
		p {
			padding: 0;
		}
	}
}

.woocommerce-order-received {
	color: $blueDark;

	.cta-button {
		display: none;
	}

	.itineraries,
	.actions {
		display: none;
	}

	#cart_total {
		display: none;
	}

	#checkout {
		display: block;

		.price {
			display: none;
		}

		.woocommerce {
			address,
			header.title {
				display: none;
			}

			.woocommerce-thankyou-order-received {
				color: #3c763d;
				display: block;
			    background-color: #dff0d8;
			    border-color: #d6e9c6;
			    margin: 0 auto 40px;
			    text-align: center;
			    width: 100%;
			}

			.woocommerce-thankyou-order-details {
				margin: 0 auto;
				padding: 20px 0 40px 0;
				justify-content: space-around;
    			display: flex;

    			li {
    				border: 0 none;

    				strong {
    					margin-top: 5px;
    				}
    			}
			}

			h2 {
				color: $blueDark;
				margin: 0 auto 20px;
				max-width: 700px;
				letter-spacing: 1px;
				text-align: center;
				text-transform: uppercase;
			}

			table {
				border: 0 none;

				&.shop_table {
					margin: 0 auto 80px;
					max-width: 700px;

					td {
						vertical-align: top;

						.variation dd {
							margin-bottom: 0;
							margin-left: 0;
							padding: 0;
						}
					}

					tr {
						td,
						th {
							border: 0;
						}
					}

					thead {
						th {
							background: #f7f7f7;
						}
					}

					tr:nth-child(even) {
						background: #f7f7f7;
						border: none;
					}
				}
			}

			& > p {
				margin: 0 auto 40px;
				max-width: 700px;
			}

			& > dl {
				display: table;
				background: #f7f7f7;
				margin: 0 auto;
				max-width: 700px;
				width: 100%;

				& > * {
					display: table-cell;
				}

				& > dt {
					font-weight: 700;
					padding: 9px 12px;
				}
			}
		}
	}
}

.woocommerce-checkout {
	clear: both;
}

#order_review_heading,
.woocommerce-checkout-review-order-table {
	display: none;
}

body.woocommerce-page #payment #place_order {
	float: none;
}
